global
    maxconn 100000
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:8082
    default_backend servers

backend servers
    server backend1 192.168.88.251:8080 maxconn 100000
